{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.3"}
  ring/ring-jetty-adapter {:mvn/version "1.12.1"}
  org.clojure/spec.alpha {:mvn/version "0.3.218"}
  org.clojure/tools.trace {:mvn/version "0.7.10"}
  ring-server/ring-server {:mvn/version "0.5.0"}
  compojure/compojure {:mvn/version "1.6.2"}
  clojure.java-time/clojure.java-time {:mvn/version "1.1.0"}}
  
 :aliases
 {:build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
   :ns-default build}}}
